{% extends 'base.html' %}
{% block body %}


<div class="container">
     <div class="row">
         {% for i in movie_list %}
         <div class="col-md-3">
             <div class="card" align="left">
  <img class="card-img-top" src="{{i.img.url}}"  alt="Card image cap" style="width:250px;height=300">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go somewhere</a>


  </div>
</div>
         </div>
      {% endfor %}
     </div>
</div>
<div style="text-align:center;background-color:pink;border-color:blue">
  <button onclick="location.href='add'" type="button">Add Movies here


</button>
</div>

<img src="{{i.img.url}}" width="100"height="100">
<a href = >{{i.name}}<br>

 {% endblock %}
</a>




